{% extends 'dashboard.html' %}
{% block title %}
    Ingresar Producto en Carro de Compra
{% endblock %}

{% block cuadro %}
    <div class="col-md-9 col-lg-8 align-content-md-start">
        <p>Producto - {{this_product.id}}: {{this_product.codigo_fabricante}}</p>
        <p>Descripción: {{this_product.descripcion}}</p>
        <p>Precio: ${{this_product.precio}} USD</p>
        <div class="col-md-4 col-lg-3 align-content-lg-start">

            <form action="/save_buy_and_product" method="post">
                <div class="form-group">
                  <label for="cantidad">Cantidad</label>
                  <input type="number" name="cantidad" id="cantidad" class="form-control" placeholder="1" aria-describedby="Cantidad a adquirir del producto">
                  <!-- <input type="number" name="cantidad" id="cantidad" class="form-control"> -->
                </div>
                <div class="d-grid mt-2">
                    <button class="btn btn-sm btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Añadir Producto</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}